@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-size: 16px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 29px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 23px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
}

@layer components {
  .header__item {
    @apply px-10 py-2 rounded-full text-white bg-gray-300;
  }
  .header__item--active {
    @apply bg-black;
  }
  .week-calendar__item {
    @apply flex items-center justify-center w-8 h-8 font-bold;
  }
}

@layer utilities {
  .container-grid {
    @apply container mx-[auto] min-h-[80px] w-full grid grid-cols-[0.8fr,_2fr,_1fr] p-8;

    /* & > :nth-child(1) {
      @apply grid grid-cols-2;
    } */

    & > :nth-child(2) {
      @apply px-9;
    }

    & > :nth-child(3) {
      @apply flex items-start justify-end;
    }
  }
}
